<ul>
  <li>Time | Description | Teams</li>
<% @games.each do |game| %>
  <li><%= game.time %> |
    <%= link_to game.description, "games/#{game.id}/statistics" %> |
    <%= link_to "#{game.visiting_team.name} vs. #{game.home_team.name}",
                edit_player_game_statistic_path(game.player_game_statistics.first) %>
  </li>
<% end %>
</ul>