<ul>
  <li>Id | Last Name, First Name | Email | Team Id</li>
  <% @players.each do |player| %>

  <li>
    <%= player.id %> |
    <%= link_to "#{player.last_name}, #{player.first_name}", edit_player_path(player) %> |
    <%= player.email %> |
    <%= player.teams.first.name %>
  </li>
<% end %>
</ul>